@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web.Models
@*<div class="jumbotron jumbotron-fluid home-hero" style="background-image:url('/Images/pexels-burst-374906.jpg')">*@
<div class="jumbotron jumbotron-fluid home-hero" style="background-image:url('')">
    <div class="inner">
        <div class="container">
            <h1 class="display-4">Title</h1>
            <p class="lead">Subtitle</p>
        </div>
    </div>
</div>
